.tag {
  background-color: #FBE9F6;
  width: fit-content;
  padding: .25vw .6vw;
  color: #BA66A3;
  font-family: 'Montserrat';
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  height: 1.3vw;
  white-space: nowrap;
}