.tag {
    display: inline;
    background-color: #FBE9F6;
    width: 100%;
    padding: 3px 5px;
    color: #BA66A3;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    margin: 0 0.5rem;
  }