.container-editar-perfil {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    min-height: 100vh;
}

.container-editar-perfil .footer-editar-perfil {
    display: flex;
}

.container-editar-perfil .footer-editar-perfil footer {
    margin-top: auto;
}

.content-editar-perfil {
    display: grid;
    grid-template-columns: 35% 60%;
}

.container-editar-perfil .user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
    margin-left: 10%;
}

.container-editar-perfil .container-alterar-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6vw;
}

.container-editar-perfil .container-alterar-foto a {
    color: #BA66A3;
    font-size: 1.4vw;
    font-weight: 800;
    cursor: pointer;
    margin-top: .3vw;
}

.container-editar-perfil .container-alterar-foto img {
    width: 2.2vw;
    cursor: pointer;
}

.content-editar-perfil h2 {
    font-weight: 100;
    color: #444143;
    margin: 3vw 0 0 0;
    font-size: 1.8vw;
}

.content-editar-perfil h1 {
    font-weight: 600;
    color: #BA66A3;
    margin: 0 0 2vw 0;
    font-size: 2.4vw;
}

.container-editar-perfil .user-info {
    display: grid;
    grid-template-rows: 25% 20% 20% 8% 25%;
}

.user-info p {
    font-size: 1vw;
    color: #707070;
}

.user-info .first-row {
    display: flex;
    align-items: center;
    gap: 2vw;
    align-self: flex-end;
}

.user-info .second-row {
    display: flex;
    align-items: center;
    gap: 2vw;
    align-self: flex-end;
}

.user-info .footer {
    display: flex;
    flex-flow: column;
}