.container-editar-perfil {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-areas: "header header header"
                        "content content content"
                        "footer footer footer";
}

.container-editar-perfil .header-editar-perfil {
    grid-area: header;
    height: fit-content;
}

.container-editar-perfil .footer-editar-perfil {
    grid-area: footer;
    align-self: flex-end;
}

.user-image .file-input::-webkit-file-upload-button {
    width: 1vw;
    visibility: hidden;
}

.user-image .file-input::before {
    display: none;
}

.user-image .file-input {
    width: min-content;
    padding-left: 4.2vw;
    margin-top: 1vw;
}

.content-editar-perfil {
    grid-area: content;
    display: flex;
    gap: 4vw;
}

.container-editar-perfil .user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
    margin-left: 4vw;
}

.container-user-image {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-user-image img {
    width: 20vw;
}

.container-editar-perfil .container-alterar-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6vw;
    margin-top: 1vw;
}

.container-editar-perfil .container-alterar-foto a {
    color: #BA66A3;
    font-size: 1.4vw;
    font-weight: 800;
    cursor: pointer;
    margin-top: .3vw;
}

.container-editar-perfil .container-alterar-foto img {
    width: 2.2vw;
    cursor: pointer;
}

.container-editar-perfil .user-info {
    display: grid;
    height: fit-content;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 1vw;
    grid-row-gap: .2vw;

    justify-content: center;
    align-items: flex-start;
    margin-right: 8%;
}

.container-editar-perfil .user-info h2 {
    font-weight: 100;
    color: #444143;
    font-size: 1.8vw;
    margin: 0;
}

.container-editar-perfil .user-info h1 {
    font-weight: 600;
    color: #BA66A3;
    font-size: 2.4vw;
    margin: 0;
}

.container-editar-perfil .user-info p {
    font-size: 1vw;
    color: #707070;
}

.user-info .title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
    display: flex;
    flex-direction: column;
    height: fit-content
}

.user-info div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    height: fit-content;
    width: 100%;
}

.user-info div:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    height: fit-content;
    width: 100%;
}

.user-info div:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    height: fit-content;
    width: 100%;
}

.user-info div:nth-child(4) div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info div:nth-child(4) p {
    margin: 0;
    padding-top: .2vw;
}

.user-info div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    height: fit-content;
    width: 100%;
}

.user-info div:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
    padding-top: .8vw;
}

.user-info button:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

@media (max-width: 768px) {
    .content-editar-perfil {
        grid-area: content;
        display: grid;
        gap: 0;
    }

    /* Image */
    .container-user-image {
        width: 125px;
        height: 125px;
    }
    
    .container-user-image img {
        width: 100%;
    }

    .container-editar-perfil .container-alterar-foto {
        gap: 8px;
        margin: 0;
    }
    
    .container-editar-perfil .container-alterar-foto a {
        font-size: 15px;
        margin-top: 5px;
    }
    
    .container-editar-perfil .container-alterar-foto img {
        width: 22px;
    }

    /* title */
    .container-editar-perfil .title {
        display: none;
    }

    .container-editar-perfil .user-info {
        height: fit-content;
        display: flex;
        width: 90%;
        margin: 0 5%;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 2vh;
    }

    .container-editar-perfil .user-info p {
        font-size: 13px;
    }

    .user-image .file-input {
        width: min-content;
        padding-left: 25px;
        padding-top: 0;
    }
}