.container-cadastro .container-img {
    width: 50%;
    min-height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FBE9F6 url('../../assets/images/login_cat.jpg') no-repeat scroll 0% 0%;
    background-size: cover;
}

.container-cadastro .content-cadastro {
    width: 50%;
    min-height: 100vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;

    background-color: #FBE9F6;
}

.container-cadastro .content-cadastro p {
    color: #707070;
    font-weight: 300;
    margin: 0;
    font-size: 1.3vw;
}

.container-cadastro .content-cadastro a {
    color: #BA66A3;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.3vw;
}

.container-cadastro .logo-petgato {
    margin: 0 0;
    width: 12vw;
}

.container-cadastro .container-input {
    display: flex;
    flex-direction: column;
    gap: .6vw;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .container-cadastro .content-cadastro {
        width: 100%;
    }

    .container-cadastro .container-img {
        width: 0;
    }

    .container-cadastro .logo-petgato {
        width: 100px;
    }

    .container-cadastro .content-cadastro p {
        font-size: 12px;
    }
    
    .container-cadastro .content-cadastro a {
        font-size: 12px;
    }
}