.input{
    margin: 1rem auto 0 auto;
    width: min-content;
}

.input input, label{
    display: block;
}

#form-label{
    color: #C882B4;
    font-size: 1.3rem;
    font-weight: 300;

    text-align: left;
}

#form-input{
    height: 3.6rem;
    width: 25rem;

    font-size: 1.5rem;
    font-weight: 300;
    color: #707070;

    padding-left: 1rem;

    border-radius: 0;
    border: 1px solid #C882B4;
    outline: none;
}

@media (max-width: 425px) {
    #form-input{
        height: 3.2rem;
        width: 20rem;
    }
}

input:disabled {
    cursor: not-allowed;
    background-color: #F0F0F0;
}