.pagebody{
    width: 100vw;
    height: 100vh;

    display: flex;
}

#backgroundimg-recover{
    width: 50vw;
    height: 100vh;

    border-right: 1px solid #707070;

    background: url('../../assets/images/Esqueciminhasenha.jpg'); 
    background-position: center;
    background-size: cover;
}

.info-text{
    width: 50vw;
    height: 100vh;

    background-color: #FBE9F6;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: min-content;
}

.icon{
    display: block;
    margin: 0 auto 3rem auto;
}

.intxt{
    color: #707070;

    font-size: 1.2rem;
    font-weight: 300;
}

.recover-button{
    width: 15rem;
    margin: 3rem auto 4rem auto;
}

@media (max-width: 1120px){
    #backgroundimg-recover{
        display: none;
    }

    .info-text{
        width: 100vw;
    }
}