.container-views-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.views-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 1.4vw;
    color: #707070;
    padding: 0 .4vw;
    margin: 0;
    float: right;
}

.views-icon {
    width: 2.4vw;
    height: 2.4vw;
    float: left;
}

@media (max-width: 768px) {
    .views-icon {
        width: 6vw;
        height: 6vw;
    }

    .views-number {
        font-size: 3vw;
        padding: 0 1vw;
    }
}