.container-homepage {
    display: grid;
    grid-template-areas:
    'header header header'
    'menu main main'
    'footer footer footer';
    min-height: 100vh;
}

.container-homepage .homepage-header {
    grid-area: header;
    grid-row: 1 / 2;
    width: 100%;
    color: white;
}

.container-homepage .homepage-info {
    grid-area: menu;
    grid-row: 2 / 20;
    width: 80%;
    border-right: 1px solid #B0B0B0;
    margin-top: 3vw;
    padding: 0 10%;
}

.homepage-info h2 {
    font-size: 1.6vw;
    font-weight: 400;
    color: #444143;
    margin: 2vw 0;
}

.homepage-info .button-popular-posts {
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepage-posts .homepage-search {
    display: none;
}

.container-homepage .homepage-info .homepage-search {
    padding: 0 0;
}

.container-homepage .homepage-posts {
    grid-area: main;
    width: 75vw;
    margin-left: 2.3vw;
}

.container-homepage .homepage-posts h1 {
    font-size: 1.8vw;
    font-weight: 600;
    color: #BA66A3;
    margin: 0;
    margin-top: 3vw;
}

.container-homepage .homepage-posts h2 {
    font-size: 1.2vw;
    font-weight: 300;
    color: #606060;
    margin-top: 5px;
    margin-bottom: 20px;
}

.container-homepage .homepage-posts .search-results i {
    color: #606060;
    margin-right: .2vw;
}

.container-homepage .homepage-posts .search-results b {
    color: #444143;
    font-style: normal;
    font-size: 1.6vw;
}

.container-homepage .homepage-posts .search-results p {
    font-style: italic;
    font-size: 1.4vw;
    color: #606060;
    text-align: left;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.container-homepage .homepage-posts h4 {
    font-weight: 300;
    color: #444143;
    font-size: 1.4vw;
}

.container-homepage .homepage-footer {
    grid-area: footer;
    grid-row: 21 / 21;
    margin-top: 2vw;
    width: 100%;
    align-self: end;
}

@media (max-width: 768px) {
    .container-homepage {
        display: grid;
        grid-template-areas:
        'header'
        'main'
        'footer';
        justify-items: center;
    }

    .container-homepage .homepage-info {
        display: none;
    }

    .homepage-posts .homepage-search {
        display: inline;
        z-index: 0;
        padding-bottom: 1.8vw;
    }

    .container-homepage .homepage-posts {
        width: 90%;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-top: 3vw;
    }

    .container-homepage .homepage-posts h1 {
        font-size: 5vw;
        text-align: center;
        margin-top: 0;
    }

    .container-homepage .homepage-posts h2 {
        font-size: 2.8vw;
        text-align: center;
        margin-top: .4vw;
        margin-bottom: 2vw;
    }

    .container-homepage .homepage-posts h3 {
        font-style: italic;
        font-size: 2.1vw;
        text-align: center;
        margin-top: 4vw;
        margin-bottom: 2vw;
    }

    .homepage-posts .homepage-search {
        display: visible;
    }

    .homepage-posts .homepage-search img {
        margin-right: 2px;
    }

    .container-homepage .homepage-posts .search-results b {
        font-size: 3.8vw;
    }
    
    .container-homepage .homepage-posts .search-results p {
        font-size: 3vw;
    }
    
    .container-homepage .homepage-posts h4 {
        font-size: 3.2vw;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .container-homepage .homepage-posts h1 {
        font-size: 7vw;
    }

    .container-homepage .homepage-posts h2 {
        font-size: 4vw;
    }

    .container-homepage .homepage-posts .search-results b {
        font-size: 16px;
    }
    
    .container-homepage .homepage-posts .search-results p {
        font-size: 14px;
    }
    
    .container-homepage .homepage-posts h4 {
        font-size: 14px;
        text-align: center;
    }
}