.container-editar-publicacao {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.container-editar-publicacao .header-editar-publicacao {
    width: 100%;
}

.container-editar-publicacao .content-editar-publicacao {
    width: 100%;
}

.container-editar-publicacao .footer-editar-publicacao {
    display: flex;
}

.container-editar-publicacao .footer-editar-publicacao footer {
    margin-top: auto;
}

.backoffice-editar-publicacao {
    font-family: 'Montserrat';
    margin: 0 5%;
    width: 90%;
}

.backoffice-editar-publicacao .container-title {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 85% 14%;
    grid-gap: 1%;
    margin-bottom: 2.6vw;
}

.backoffice-editar-publicacao .container-title div {
    width: 100%;
}

.backoffice-editar-publicacao .container-title .icons {
    width: 100%;
    height: 3.6vw;
    display: flex;
    align-self: flex-end;
    justify-content: right;
    gap: .1vw;
}

.backoffice-editar-publicacao h2 {
    font-weight: 100;
    color: #444143;
    margin: .4vw 0 0 0;
    font-size: 1.8vw;
}

.backoffice-editar-publicacao h1 {
    font-weight: 600;
    color: #BA66A3;
    margin: 0 0 2vw 0;
    font-size: 2.4vw;
}

.backoffice-editar-publicacao h3 {
    font-weight: 200;
    color: #BA66A3;
    margin: 1.2vw 0;
    font-size: 1.4vw;
}

.backoffice-editar-publicacao .upload-content {
    display: flex;
    align-items: center;
    gap: 1.6vw;
    color: #707070;
}

.backoffice-editar-publicacao .container-react-quill {
    width: 100%;
    max-width: 90vw;
    height: 100%;
}

.backoffice-editar-publicacao .container-react-quill .ql-snow {
    border: .1vw solid #C882B4;
}

.backoffice-editar-publicacao .container-react-quill .ql-editor {
    height: 55vh;
}

.backoffice-editar-publicacao .container-select-tags {
    display: flex;
    gap: 1.6vw;
    margin-bottom: 4vh;   
    flex-wrap: wrap;
}

.container-select-tags .tag-content {
    display: flex;
    align-items: center;
    gap: .3vw;
    width: fit-content;
    height: 100%;
    font-size: 1.2vw;
    color: #707070;
}

.backoffice-editar-publicacao .container-buttons {
    display: flex;
    gap: 2vw;
    margin: 4vh 0 12vh 0;
}