.container-editar-publicacao {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'header'
                        'content'
                        'footer';
    width: 100%;
}

.container-editar-publicacao .header-editar-publicacao {
    grid-area: header;
    height: fit-content;
}

.container-editar-publicacao .content-editar-publicacao {
    grid-area: content;
    height: fit-content;
}

.container-editar-publicacao .footer-editar-publicacao {
    grid-area: footer;
    height: fit-content;
}

.backoffice-editar-publicacao {
    font-family: 'Montserrat';
    margin: 0 5%;
    width: 90%;
}

.backoffice-editar-publicacao .container-title {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 85% 14%;
    grid-gap: 1%;
    margin-bottom: 2.6vw;
}

.backoffice-editar-publicacao .container-title div {
    width: 100%;
}

.backoffice-editar-publicacao .container-title .icons {
    width: 100%;
    height: 3.6vw;
    display: flex;
    align-self: flex-end;
    justify-content: right;
    gap: .1vw;
}

.backoffice-editar-publicacao h2 {
    font-weight: 100;
    color: #444143;
    margin: 3vw 0 0 0;
    font-size: 1.8vw;
}

.backoffice-editar-publicacao h1 {
    font-weight: 600;
    color: #BA66A3;
    margin: 0 0 2vw 0;
    font-size: 2.4vw;
}

.backoffice-editar-publicacao h3 {
    font-weight: 200;
    color: #BA66A3;
    margin: 1.2vw 0;
    font-size: 1.4vw;
}

/* Input image */
.file-input::-webkit-file-upload-button {
    width: 1vw;
    visibility: hidden;
}

.file-input {
    width: 100%;
    outline: none;
    color: #444143;
    font-size: 1.2vw;
}

.file-input::before {
    content: 'Escolher arquivo';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #C882B4;
    outline: none;
    box-sizing: border-box;
    padding: .8vw 2vw;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: #444143;
    font-weight: 100;
    font-size: 1.2vw;
}

.backoffice-editar-publicacao .container-react-quill {
    width: 100%;
    max-width: 90vw;
    height: 100%;
}

.backoffice-editar-publicacao .container-react-quill .ql-snow {
    border: .1vw solid #C882B4;
    font-size: 1.2vw;
}

.backoffice-editar-publicacao .container-react-quill .ql-editor {
    height: 55vh;
}

.backoffice-editar-publicacao .container-select-tags {
    display: flex;
    gap: 1.6vw;
    margin-bottom: 4vh;   
    flex-wrap: wrap;
}

.container-select-tags .tag-content {
    display: flex;
    align-items: center;
    gap: .3vw;
    width: fit-content;
    height: 100%;
    font-size: 1.2vw;
    color: #707070;
}

.backoffice-editar-publicacao .container-buttons {
    display: flex;
    gap: 2vw;
    margin: 2vw 0;
}

/* Mobile */
@media (max-width: 768px) {
    .backoffice-editar-publicacao h2 {
        font-weight: 100;
        color: #444143;
        margin: 10px 0 2px 0;
        font-size: 13px;
    }
    
    .backoffice-editar-publicacao h1 {
        font-weight: 600;
        color: #BA66A3;
        margin: 0 0 5px 0;
        font-size: 18px;
    }
    
    .backoffice-editar-publicacao h3 {
        font-weight: 200;
        color: #BA66A3;
        margin: 8px 0;
        font-size: 13px;
    }
    
    /* Input image */
    .file-input::-webkit-file-upload-button {
        width: 10px;
        visibility: hidden;
    }

    .file-input {
        width: 100%;
        outline: none;
        color: #444143;
        font-size: 11px;
    }

    .file-input::before {
        content: 'Escolher arquivo';
        display: inline-block;
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #C882B4;
        outline: none;
        box-sizing: border-box;
        padding: 4px 10px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        color: #444143;
        font-weight: 100;
        font-size: 12px;
    }

    /* Select tags */
    .backoffice-editar-publicacao .container-select-tags {
        display: flex;
        gap: 5px;
        margin-bottom: 15px;   
        flex-wrap: wrap;
    }
    
    .container-select-tags .tag-content {
        display: flex;
        align-items: center;
        gap: 2px;
        width: fit-content;
        height: 100%;
        font-size: 12px;
        color: #707070;
    }
    
    .backoffice-editar-publicacao .container-buttons {
        display: flex;
        gap: 10px;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    /* Top icons / title */
    .backoffice-editar-publicacao .container-title {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 69% 30%;
        grid-gap: 1%;
        margin-bottom: 2.6vw;
    }
    
    .backoffice-editar-publicacao .container-title img {
        width: 24px;
        height: 24px;
    }

    .backoffice-editar-publicacao .container-title p {
        font-size: 18px;
        padding: 0;
        padding: 0 6px;
    }

    .backoffice-editar-publicacao .container-title .icons {
        width: 100%;
        height: 35px;
        display: flex;
        align-self: flex-end;
        justify-content: right;
        gap: .1vw;
    }
}

@media (max-width: 465px) {
    .backoffice-editar-publicacao .container-title img {
        width: 5vw;
        height: 5vw;
    }

    .backoffice-editar-publicacao .container-title p {
        font-size: 4vw;
        padding: 0 3px;
    }
}