.container-page-publicacao {
    min-height: 100vh;
    display: grid;
    width: 100vw;
}

.header-page-publicacao {
    max-width: 100vw;
}

.footer-publicacao {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    max-width: 100vw;
}

.footer-publicacao footer {
    margin-top: auto;
}

.container-page-publicacao .back-button {
    display: flex;
    padding: 0 4%;
    margin-top: 2vw;
}

.container-page-publicacao .back-button p {
    font-size: 1.2vw;
    font-weight: 100;
    color: #444143;
    padding-left: 2vw;
    cursor: pointer;
}

.container-page-publicacao .back-button img {
    width: 1vw;
    cursor: pointer;
}

.container-publicacao {
    display: grid;
    width: 100%;
    grid-template-columns: 75% 25%;
    margin-top: 1.8vw;
    word-wrap: normal;
}

.content-publicacao {
    padding: 0 5%;
    border-right: 1px solid #B0B0B0;
    overflow: hidden;
}

.content-publicacao i {
    color: #444143;
    font-size: 1.2vw;
}

.content-publicacao h1 {
    font-weight: 600;
    color: #BA66A3;
    margin: 0 0 .2vw 0;
    font-size: 2.4vw;
    word-wrap: break-word;
}

.content-publicacao h2 {
    font-weight: 600;
    color: #444143;
    margin: .4vw 0 0 0;
    font-size: 1.6vw;
}

.content-publicacao .data-publicacao {
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    color: #707070;
    float: left;
}

.content-publicacao .data-publicacao i {
    color: #707070;
}

.content-publicacao .post-image {
    width: 100%;
    height: 18vw;
    margin-top: .6vw;
    overflow: hidden;
}

.content-publicacao .post-image img {
    object-position: 0 -9.5vw;
}

.content-publicacao .text-publication {
    padding: 0;
    margin: 0;
    color: #444143;
    font-size: 1.2vw;
    word-wrap: break-word;
}

.content-publicacao .container-favorite {
    justify-content: flex-start;
    padding-top: 1.4vw;
}

.content-publicacao .container-favorite div {
    display: flex;
    gap: .6vw;
    font-size: 1.2vw;
    color: #444143;
}

.content-publicacao .container-favorite i {
    color: #606060;
}

.content-publicacao .container-favorite img {
    width: 2.2vw;
    cursor: pointer;
}

.container-publicacao .container-favorite .heart-off img {
    cursor: auto;
}

.content-publicacao .post-informations {
    width: 100%;
    display: inline-block;
}

.content-publicacao .post-informations div {
    float: right;
}

.content-comentario {
    width: 100%;
    margin-top: .8vw;
}

.content-comentario textarea {
    padding-top: 1vw;
    height: 15vw;
}

.content-publicacao img {
    width: 100%;
}

.content-publicacao .send-button {
    display: flex;
    justify-content: flex-end;
    margin: 1.2vw 0;
}

.container-comments {
    height: min-content;
}

.menu-right {
    font-size: 1vw;
    color: #707070;
    padding: 0 1.8vw;
    overflow: hidden;
}

.menu-right a {
    text-decoration: none;
}

.menu-right h2 {
    font-size: 1.8vw;
    font-weight: 400;
    color: #444143;
}

.menu-right .container-tag {
    border-bottom: 1px solid #B0B0B0;
    margin: 1vw 0;
}

.menu-right .button-popular-posts {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-response {
    width: 100%;
}

.container-response .container-buttons {
    display: flex;
    gap: .8vw
}

.container-response button:first-child {
    margin-left: 15%;
}
.container-response textarea {
    width: 85%;
    padding-top: .8vw;
    margin: 1vw 0;
    margin-left: 15%;
}

@media (max-width: 768px) {
    .container-page-publicacao .container-publicacao .menu-right {
        display: none;
    }

    .content-publicacao {
        max-width: 100vw;
    }

    .container-publicacao {
        display: flex;
        width: 100%;
    }

    /* Text */
    .content-publicacao i {
        font-size: 10px;
    }
    
    .content-publicacao h1 {
        font-size: 25px;
    }
    
    .content-publicacao h2 {
        font-size: 12px;
    }

    .content-publicacao .container-favorite div {
        font-size: 12px;
        align-items: center;
    }

    .content-publicacao .container-favorite img {
        width: 20px;
        height: 20px;
        padding-right: 2px;
    }

    .content-publicacao textarea {
        font-size: 12px;
    }

    .container-page-publicacao .back-button p {
        font-size: 12px;
        padding-left: 15px;
    }
    
    .container-page-publicacao .back-button img {
        width: 10px;
    }

    .content-publicacao .post-informations img {
        width: 25px;
    }

    .content-publicacao .post-informations p {
        font-size: 15px;
    }

    .content-publicacao .send-button .btn1, 
    .content-publicacao .container-response .btn1, 
    .content-publicacao .container-response .btn3 {
        width: 90px;
        height: 25px;
        font-size: 10px;
        padding: 0;
    }
}