.container-comment-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comment-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 15px;
    color: #707070;
    padding: 0 5px;
    padding-left: 2px;
    margin: 0;
    float: right;
}

.comment-icon {
    width: 1.8vw;
    height: 1.8vw;
    float: left;
    min-width: 23px;
    min-height: 23px;
}