.container-fale-conosco {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header"
                        "content"
                        "footer";
    width: 100%;
}

.container-fale-conosco .footer-fale-conosco {
    grid-area: footer;
    align-self: flex-end;
}

.container-fale-conosco .header-fale-conosco {
    grid-area: header;
    height: fit-content;
}

.container-fale-conosco .container-enviar-mensagem {
    grid-area: content;
    display: grid;
    grid-template-columns: 30% 61%;
    gap: 3%;
}

.container-enviar-mensagem .dog-image {
    overflow: hidden;
    margin: 15% 0% 20% 20%;
}

.container-enviar-mensagem .dog-image img {
    object-fit: cover;
    object-position: -1vw 75%;
    width: 100%;
}

.container-enviar-mensagem .user-info {
    margin-top: 3.2vw;
    width: 100%;
}

.container-enviar-mensagem .user-info h2 {
    font-weight: 300;
    color: #606060; 
    font-size: 1.8vw;
    margin: 0;
}

.container-enviar-mensagem .user-info h1 {
    font-weight: 600;
    color: #BA66A3;
    font-size: 2.4vw;
    margin: 0;
}

.user-info .container-input {
    margin-top: 1.8vw;
    display: flex;
    gap: 1.8vw;
}

.user-info .container-input div {
    width: 100%;
}

.user-info .container-input input {
    width: 100%;
}

.user-info .input-message {
    width: 100%;
    height: 31.8vh;
    margin-top: 1.2vw;
}

.user-info .input-message textarea {
    width: 100%;
    min-height: 10vw;
    padding-top: 1vw;
}

.user-info .input-message div {
    width: 100%;
    height: 100%;
}

.user-info .container-button {
    width: 100%;
    margin-top: 1.2vw;
}

.user-info .container-button button {
    float: right;
}

@media (max-width: 768px) {
    .dog-image {
        display: none;
    }

    .container-fale-conosco .container-enviar-mensagem {
        display: flex;
        margin: 0 6vw;
    }

    .user-info {
        width: 100%;
    }

    .container-enviar-mensagem .user-info h2 {
        font-size: 11px;
    }
    
    .container-enviar-mensagem .user-info h1 {
        font-size: 13px;
    }

    .container-enviar-mensagem .user-info .btn1 {
        width: 90px;
        height: 25px;
        font-size: 10px;
        padding: 0;
        margin: 0;
    }

    .user-info .input-message textarea {
        width: 100%;
        padding-top: 3px;
        font-size: 12px;
        height: 130px;
    }
}