.container-fale-conosco {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.container-fale-conosco .footer-fale-conosco {
    display: flex;
}

.container-fale-conosco .footer-fale-conosco footer {
    margin-top: auto;
}

.container-fale-conosco .container-enviar-mensagem {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 3%;
}

.container-enviar-mensagem .dog-image {
    background: #FBE9F6 url('../../assets/images/Imagem de Contato.jpg') no-repeat scroll 50% 70%;
    background-size: cover;
    margin: 15% 0% 20% 15%;
}

.container-enviar-mensagem .user-info {
    margin-top: 3.2vw;
}

.container-enviar-mensagem .user-info h2 {
    font-weight: 100;
    color: #606060; 
    font-size: 1.8vw;
    margin: 0;
}

.container-enviar-mensagem .user-info h1 {
    font-weight: 600;
    color: #BA66A3;
    font-size: 2.4vw;
    margin: 0;
}

.user-info .container-input {
    display: flex;
    gap: 1.8vw;
    margin-top: 1.8vw;
}

.user-info .input-message {
    width: 48.4vw;
    height: 31.8vh;
    margin-top: 1.2vw;
}

.user-info .container-button {
    width: 48.4vw;
}

.user-info .container-button button {
    float: right;
    margin: 1.8vw 0;
}