.about-frame {
    background-color:  #FBE9F6;
    color: #707070;
    padding: 0;
    margin: 0 auto;
    margin-top: 6vw;
    text-align: center;
    width: 80%;
    height: fit-content;
    padding-bottom: 15px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.crop-image {
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1vw;
    margin-top: -3vw;
}

.about-frame .crop-image img {
    width: 15vw;
    height: 15vw;

    object-fit: cover;
    object-position: -1vw 75%;
}

.about-frame h2 {
    font-size: 1vw;
    font-weight: 100;
    color: #444143;
    margin: 0;
    letter-spacing: 0.5px;
}

.about-frame h1 {
    font-size: 1.6vw;
    font-weight: 600;
    color: #BA66A3;
    margin: 0;
    letter-spacing: 1px;
}

.about-frame p {
    font-size: 1.2vw;
    margin-top: 8px;
    padding: 0 25px;
}

.about-frame .social-media-icons {
    display: grid;
    grid-template-columns: 3.5vw 3.5vw 3.5vw;
    justify-content: center;    
}

.about-frame .social-media-icons a :first-child {
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}

.about-frame .social-media-icons a { 
    cursor: pointer;
}

.about-frame .social-media-icons img { 
    width: 2vw;
}