.container-post {
    margin: 2vw 0;
    width: 73vw;
    height: 15vw;
    
    display: grid;
    grid-template-columns: 15vw 57vw;
    grid-column-gap: 15px;
}

.container-post a {
    text-decoration: none;
}

.container-post .post-img {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.container-post .post-img img {
    width: 100%;
    object-fit: cover;
    object-position: 0 -2vw;
}

.container-post .post-content {
    display: grid;
    grid-template-rows: 15% 60% 25%;
}

.post-content .tags {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: .8vw;
    width: 90%;
    overflow: hidden;
}

.container-post .post-content .tags p {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    font-style: italic;
    color: #444143;
}

.post-content .post-text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-content .post-description {
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* max: 4 lines */
    -webkit-box-orient: vertical; 
}

.post-content .post-description img {
    display: none; 
}

.post-content .post-text p {
    margin: 0;
    font-size: 1.2vw;
    color: #444143; 
}

.post-content .post-text .post-title h1 {
    font-size: 1.6vw;
    font-weight: 800;
    color: #BA66A3;
    margin: 0;
    padding: .4vw 0;
    cursor: pointer;
}

.post-content .post-footer {
    display: flex;
    align-items: center;
    gap: 1.2vw;
}

.container-post .post-footer div:nth-child(2) {
    display: flex;
    width: min-content;
    gap: .6vw;
}

.post-content .post-footer button {
    height: 80%;
}

@media (max-width: 768px) {
    .container-post {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        cursor: pointer;
    }

    .container-post .post-img {
        width: 90vw;
        height: 25vw;
        overflow: hidden;
        border-radius: 2vw;
        margin-bottom: -2vw;
    }

    .container-post .post-img img {
        width: 100%;
        object-fit: cover;
        object-position: 0 -3vw;
    }

    .container-post .post-content {
        display: flex;
        flex-direction: column;
        background-color: #FBE9F6;
        border: 2px solid #efa8dc;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        border-top: none;
    }

    .container-post .post-content .tags { /* p até mexer nas tags em si*/
        display: none;
    }

    .container-post .post-text {
        display: grid;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    .container-post .post-text .post-title {
        width: 80vw;
    }

    .container-post .post-text .post-title h1 {
        font-size: 4vw;
    }

    .container-post .post-text .post-description {
        font-size: 3vw;
        padding-top: 1.6vw;
        display: none;
    }

    .container-post .post-footer {
        display: grid;
        grid-template-rows: 2;
        justify-content: center;
        margin-top: 1.2vw;
    }

    .container-post .post-footer div:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
        display: flex;
        gap: 1vw;
        width: min-content;
    }

    .container-post .post-footer button {
        width: 85vw;
        height: 7vw;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 3vw;

        margin-bottom: 2vw;
    }
}

@media (max-width: 500px) {
    .container-post .post-text .post-title h1 {
        font-size: 5vw;
    }

    .container-post .post-footer button {
        font-size: 4vw;
    }
}