.reply {
    display: grid;
    grid-template-columns: 25% 73%;
    grid-gap: 2%;
}

/* reply image */
.reply .user-image {
    width: 7vw;
    height: 7vw;
    overflow: hidden;
    border-radius: 50%;
    justify-self: flex-end;
}

.reply .user-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* reply content */
.reply {
    padding: 1.1vw 0;
}

.reply .content-reply h2 {
    font-size: 1.6vw;
    margin-top: .8vw;
    margin-bottom: .4vw;
}

.reply .content-reply i {
    padding: 0;
    margin: 0;
    font-size: 1.1vw;
    color: #707070;
}

.reply .content-reply p {
    padding: 0;
    margin: 0;
    margin-top: .6vw;
    font-size: 1.2vw;
    color: #444143;
}

.reply .content-reply .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reply .content-reply .title .title-report {
    display: flex;
    gap: 1vw;
}

.reply .content-reply .title img {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
}

.reply .content-reply .title .pet-icon {
    width: 1.55vw;
    height: 1.3vw;
    padding-left: .4vw;
    cursor: default;
}

.reply .content-reply .title .report {
    border: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3vw;
    width: 10vw;
    height: 3vw;
    color: #444143;
}

.reply .content-reply .title .report img {
    width: 2.2vw;
    filter: invert(30%);
    height: 2vw;
    padding-right: .6vw;
}