.container-favorite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.favorite-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    color: #707070;
    font-size: 1.2vw;
    padding: 0 .4vw;
    margin: 0;
    float: right;
}

.favorite-icon {
    width: 1.8vw;
    height: 1.8vw;
    float: left;
}