.header {
    background-color: #BA66A3;
    height: 5vw;
    max-width: 100vw;
    padding: 0 3rem;
    box-shadow: 0 0 .8vw .12vw #999999;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    color: #ffffff;
    font-size: 1.4vw;
    font-weight: 300;
    text-decoration: none;
    margin: 0 1vw;
    cursor: pointer;
}

.header img {
    height: 3.2vw;
}

.header .selected-header {
    font-weight: 600;
}

.header .selected-header {
    font-weight: 600;
}

.header .menu {
    display: none;
}

.header .exit {
    display: none;
}

@media (max-width: 768px){
    .header {
        max-width: 100vw;
        height: 15vw;
        align-items: center;
        user-select: none;
        outline: none;
        z-index: 10;
    }

    .header img {
        width: 16vw;
        height: 16vw;
        margin-top: 1vw;
        cursor: pointer;
    }

    .header .menu {
        display: inline;
        filter: invert(100%);
        height: 9vw;
        width: 9vw;
        max-width: 50px;
        max-height: 50px;
    }

    .header .exit {
        display: none;
    }

    .header .links a {
        display: none;
    }

    /* activated */
    .header.on .menu {
        display: none;
    }

    .header.on .exit {
        display: inline;
        filter: invert(100%);
        width: 5vw;
        height: 5vw;
        max-width: 50px;
        max-height: 50px;
        padding-right: 1.2vw;
        position: absolute;
        top: 4vw;
        right: 8vw;
    }

    .header.on img {
        display: none;
    }

    .header.on {
        position: absolute;
        max-width: 100vw;
        height: 100vh;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .header.on .links {
        display: flex;
        min-width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }

    .header.on .links a {
        display: inline;
        font-size: 5vw;
    }
}