.container-sobre {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Montserrat';
    border: 1px solid black;
    width: fit-content;
    margin: 20px;
}

.images-sobre {
    height: fit-content;
    margin-top: 5rem;
    width: fit-content;
}

.sobre-images {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}
.img-b{
    height: 13rem;
    width: 13rem;
}

.img-c{
    
    width: 11rem;
    height: 13rem;

    margin-left: 1rem;
}

.img1 {
    width: 25rem;
    height: 12rem;
    margin: 0 auto 1rem auto;

    object-fit: cover;
}

.temp {
    width: 100%;
    height: 100%;
}

.sobre-info {
    font-family: 'Montserrat';
    margin-left: 25px;
    float: left;
    text-align: left;
    color: #707070;
    font-size: 16px;
    width: 50%;
}

.sobre-info h2 {
    font-weight: 100;
    color: #444143;
    margin: 50px 0 0 0;

}

.sobre-info h1 {
    font-weight: 600;
    color: #BA66A3;
    margin: 0 0 15px 0;
}

.container-sobre b {
    color: #444143;
}

.sobre-info .container-icons {
    width: 500px;
    float: left;
}

.sobre-info p {
    padding-bottom: 10px;
}

.sobre-info .container-icons img {
    cursor: pointer;
    margin-right: 25px;
}