.container-sobre {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.container-sobre .footer-sobre {
    display: flex;
}

.container-sobre .footer-sobre footer {
    margin-top: auto;
}

.container-sobre .content-sobre {
    display: grid;
    grid-template-columns: 35% 52%;
    gap: 5%;
}

/* Images */
.content-sobre .images-sobre {
    display: grid;
    grid-gap: 1vw;
    grid-template-areas: 
        "top top"
        "left right"
    ;

    margin-left: 20%;
    margin-top: 5vw;
    height: 27vw;
}

.content-sobre .images-sobre .frist-image {
    grid-area: top;

    width: 100%;
    background: #FBE9F6 url('../../assets/images/cintialorenzzo.jpeg') no-repeat scroll 50% 0%;
    background-size: cover;
}

.content-sobre .images-sobre .second-image {
    grid-area: left;

    width: 100%;
    background: #FBE9F6 url('../../assets/images/Mandragora.jpg') no-repeat scroll 80% 0%;
    background-size: cover;
}

.content-sobre .images-sobre .third-image {
    grid-area: right;

    width: 100%;
    background: #FBE9F6 url('../../assets/images/Floquinho.jpg') no-repeat scroll 50% 75%;
    background-size: cover;
}

/* Info */
.content-sobre .sobre-info {
    margin-top: 3vw;
}

.content-sobre .sobre-info h2 {
    font-weight: 100;
    color: #606060; 
    font-size: 1.8vw;
    margin: 0;
}

.content-sobre .sobre-info h1 {
    font-weight: 600;
    color: #BA66A3;
    font-size: 2.4vw;
    margin: 0;
}

.content-sobre .sobre-info p {
    margin: 1vw 0;
    font-size: 1.2vw;
    color: #707070; 
}

.content-sobre .sobre-info .container-icons {
    display: flex;
    gap: 1.4vw;
}

.content-sobre .sobre-info .container-icons img {
    width: 2.6vw;
}