.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color:  #BA66A3;
    color: white;
    font-family: 'Montserrat';
    font-size: 15px;
}