.container-post {
    display: flex;
    justify-content: left;
    width: 100%;
}

.post-img {
    width: 500px;
    height: 500px;

}

.post-img {
    width: 14rem;
    height: 14rem;

    margin-right: 1.5rem;
    padding-top: 15px;
}

.post-info {
    text-align: left;
}

.post-tags {
    margin-top: 15px;
    font-size: 1.2vw;
    margin-bottom: -15px;
}

.post-title {
    color: #C882B4;
    font-size: 1.8vw;
    font-weight: 600;
    cursor: pointer;
}

.post-content {
    color: #707070;
    font-size: 1.2vw;
}

.post-footer {
    display: flex;
}

.post-footer .post-button {
    width: 110px;
    height: 30px;
    padding-right: 10px;
}