.content-publicacoes-populares {
    border-bottom: 1px solid #B0B0B0;
    margin-bottom: 1vw;
}

.content-publicacoes-populares a {
    text-decoration: none;
}

.content-publicacoes-populares h3 {
    color: #BA66A3;
    font-weight: 600;
    font-size: 1.4vw;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.content-publicacoes-populares p {
    color: #444143;
    font-weight: 100;
    font-size: 1vw;
}

.content-publicacoes-populares i {
    color: #707070;
    font-weight: 100;
    font-size: 1vw;
}

.text-publicacoes-populares {
    max-height: 10vw;
    overflow: hidden;
}