.container-editar-tag {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.container-editar-tag .footer-editar-tag {
    display: flex;
}

.container-editar-tag .footer-editar-tag footer {
    margin-top: auto;
}

.backoffice-editar-tag {
    margin: 0 5%;
    float: left;
}

.backoffice-editar-tag h2 {
    font-weight: 100;
    color: #444143;
    margin: 3vw 0 0 0;
    font-size: 1.8vw;
}

.backoffice-editar-tag h1 {
    font-weight: 600;
    color: #BA66A3;
    margin: 0 0 2vw 0;
    font-size: 2.4vw;
}

.backoffice-editar-tag div {
    margin-top: 1vw;
    width: 60%;
}

.backoffice-editar-tag .container-buttons {
    display: flex;
    gap: 1.2vw;
    margin-top: 1.4vw;
}